# https://code.visualstudio.com/docs/python/linting#_commandline-arguments-and-configuration-files

[FORMAT]
max-line-length=120

[MESSAGES CONTROL]
# i'm a big boy, i can see these things for myself
disable=fixme,invalid-name,missing-function-docstring
